.todo {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
    // background: red;
    .btnNew {
        display: inline-block;
        padding: 8px 12px;
        color: white;
        background: #1890ff;
        border-radius: 4px;
        cursor: pointer;
    }
    .btnNew:hover {
        background: #188fffb9;
    }


}