
body {
  font-family: PingFangSC-Medium, PingFang SC, sans-serif;
  //line-height: 1.4;
}
.title {
  //background: rgb(121, 242, 157);
}


p, ol, ul, dl, li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  //color: @gold-base;
}

.content-width {
  width: 62.5vw;
  min-width: 1000px;
}
