.todoListItem {
  //padding: 0 20px;
  position: relative;
  border-bottom: 1px solid rgba(138, 138, 138, 0.44);
  .edit {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
  }
}